# Data Challenge - News Category Classification

http://34.85.195.130:8411/

###  Problem:

Your analytics firm was hired by a major news publisher on the West Coast to help with a data recovery task.  In short, there was an outage and part of the content database was lost and is not recoverable.  Luckily, the data was only lost for a small number of articles over the last few days.

You have been asked to use the training set in order to predict/infer the category of the news articles in the evaluation set.

### The Task

- Work in team/neighbors.  You should not be attempting this on your own!
- Review the text datasets and fit a supervised classifiation model to predict the news categories labels __using the training dataset__
- Apply the model to the evaluation set so that you predict the category
- Save out your predictions as a csv file (id, category) and upload to the data challenge leaderboard

### Info

- The data can be found in the Github repo under data-challenges
- The Training file will be used to fit your model
- You apply the model to the evaluation set
- __To see an example of a proper submission file, please review the sample submission__

In [1]:
# imports
import spacy
from spacy import cli
from spacy import displacy

import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, cdist, squareform
import seaborn as sns


# upcoming!
from textacy.extract.keyterms import textrank
import gensim

import textacy

from newspaper import Article
import json

from afinn import Afinn

import pandas as pd

In [3]:
eval = pd.read_csv('/Users/alexandervonschwerdtner/Desktop/BA820 - Unsupervised Machine Learning & Text Analytics/BA820-Fall-2021/data-challenges/12-news-classification/eval.csv')
sample = pd.read_csv('/Users/alexandervonschwerdtner/Desktop/BA820 - Unsupervised Machine Learning & Text Analytics/BA820-Fall-2021/data-challenges/12-news-classification/sample.csv')
train = pd.read_csv('/Users/alexandervonschwerdtner/Desktop/BA820 - Unsupervised Machine Learning & Text Analytics/BA820-Fall-2021/data-challenges/12-news-classification/train.csv')

In [4]:
sample.head()

   id  category
0   4  Biz+Tech
1  13  Biz+Tech
2  16  Biz+Tech
3  18  Biz+Tech
4  19  Biz+Tech

In [5]:
train.head()

      id category                                               text
0   87.0     Food  The new owner of San Francisco‚Äôs historic An...
1   57.0     Food  It was a taste of date syrup that made Sylvie ...
2   92.0    Other  When Lers Ros opened its original location on ...
3  134.0     Food  Harissa and Honey Chicken ThighsServes 4 to 61...
4   49.0     Food  With the sale of a few to-go boxes of $18 chic...

In [6]:
model = "en_core_web_md"
cli.download(model)

nlp = spacy.load('en_core_web_md')

Collecting en-core-web-md==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl (45.7 MB)
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from en-core-web-md==3.2.0) (3.2.0)
Requirement already satisfied: jinja2 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.4.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.3.0)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.8.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.6)
Requirement already satisfied: setuptools in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (58.0.4)
Requirement already satisfied: packaging>=20.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (21.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.26.0)
Requirement already satisfied: numpy>=1.15.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.20.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.8.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (8.0.13)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.7.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.6)
Requirement already satisfied: pathy>=0.3.5 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.6.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (4.62.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.8)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.10.0.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_md')

In [7]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
# process the text

In [8]:
# setup the data
X = train.text.to_list()
y = train.category

In [9]:
from sklearn.pipeline import Pipeline 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [10]:
steps = [("vec", TfidfVectorizer()),
         ("clf", DecisionTreeClassifier(max_depth=10, min_samples_leaf=15, min_samples_split=30))]

pipe_tree = Pipeline(steps)

In [11]:
pipe_tree.fit(X, y)

Pipeline(memory=None,
         steps=[('vec',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?...
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=10,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=15,
                                        min_samples_split=30,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)

In [ ]:
preds =

In [12]:
train['preds3'] = pipe_tree.predict(X)

In [13]:
train.head()

      id category                                               text preds3
0   87.0     Food  The new owner of San Francisco‚Äôs historic An...   Food
1   57.0     Food  It was a taste of date syrup that made Sylvie ...   Food
2   92.0    Other  When Lers Ros opened its original location on ...   Food
3  134.0     Food  Harissa and Honey Chicken ThighsServes 4 to 61...  Other
4   49.0     Food  With the sale of a few to-go boxes of $18 chic...   Food

In [17]:
eval.head()

     id                                               text
0   4.0  Half of the PG&E Corp. board of directors will...
1  13.0  SINGAPORE (AP) ‚Äî World stock markets bounced...
2  16.0  Waymo and Cruise, the leaders in the race to m...
3  18.0  President Trump‚Äôs declaration of a national ...
4  19.0  FORT COLLINS, Colo. (AP) ‚Äî Fear washed over ...

In [14]:
sample.head()

   id  category
0   4  Biz+Tech
1  13  Biz+Tech
2  16  Biz+Tech
3  18  Biz+Tech
4  19  Biz+Tech

In [16]:
from sklearn import metrics 

cr3 = metrics.classification_report(train.category, train.preds3)
print(cr3)

              precision    recall  f1-score   support

    Biz+Tech       0.00      0.00      0.00         8
        Food       0.81      0.85      0.83        54
       Other       0.58      0.78      0.67        32
  US & World       0.00      0.00      0.00         6

    accuracy                           0.71       100
   macro avg       0.35      0.41      0.37       100
weighted avg       0.62      0.71      0.66       100

/Users/alexandervonschwerdtner/opt/miniconda3/envs/ba820/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1268: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))